{% extends 'alps/base.html' %}
{% load static %}
{% block content %}

<br/>


<h3 class="mt-5 text-center" style="font-size: 40px">I nostri contatti</h3>
<h5 class="mt-1 text-center" style="font-size: 22px; color:#d98d76">Scrivici per maggiori informazioni!</h5>

<br/>
<br/>

<div class=" container">

        <div class="form-group">
            <label for="usr">Nome e Cognome:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Email</label>
            <input type="password" class="form-control" id="pwd">
        </div>
    <div class="form-group">
        <label for="usr">Oggeto</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Messagio</label>
        <input type="password" class="form-control" id="pwd">
    </div>


        <br/>
            <br/>
            <br/>


</div>











<br/>
<br/>
<br/>
<br/>

{% endblock %}