{% extends 'alps/base.html' %}
{% load static %}
{% block content %}

<style>
ul {
display: block;
list-style-type: circle;
margin-top: 1em;
margin-bottom: 1 em;
margin-left: 0;
margin-right: 0;
padding-left: 30px;
}
</style>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4 text-center">

            <h1 style="mt-4; font-size: 40px; margin: 0px; text-align: left;">{{ activity.title }}</h1>

            <img src="{{ activity.image.url }}" class="img-fluid mt-4"  height="600">
            <br/>
            <h2 class="mt-4" style="font-size: 20px; margin: 0px; text-align: left; color:#d98d76">{{ activity.description }}</h2><br/>
            <p style="font-size: 16px; line-height: 24px; text-align: left;">
                {{ activity.text|linebreaks }}</p>
            <a style="mt-4; font-size: 16px; line-height: 24px; text-align: left" class="nav-link " href="{{ activity.url }}" target="_blank">{{ activity.url }}</a>
        </div>
        <div class="col-8 col-sm-4">
            <div class="container-sm">
                <!-- Content here -->
                <br/>
                <br/>
                <h6 style="font-size: 20px; margin: 0px; text-align: left;">Cerca</h6>
                <br/>
                <br/>
                <br/>
                <h6 style="font-size: 20px; margin: 0px; text-align: left;">Categorie</h6>
                <ul>
                    <li>After ski</li>
                    <li>Attivita sportive</li>
                    <li>Castelli & Forti</li>
                    <li>Cena in quota</li>
                    <li>Enogastronomia</li>
                    <li>In evidenza</li>
                    <li>Luoghi d'interesse</li>
                    <li>Piatti tipici</li>
                    <li>Spa&Wellness</li>
                    <li>Sport in primo piano</li>
                </ul>

            </div>
        </div>
    </div>
</div>












<br/>
<br/>
<br/>
<br/>

{% endblock %}