{% extends 'alps/base.html' %}
{% load static %}
{% block content %}


<!--Berg bild   wechsekn mit   / SLIDER  -->
{{ contactall.city }}
{{ contactall.streetNumber }}
{{ contactall.phone }}
{{ contactall.partitaIva }}
{{ contactall.email }}
{{ contactall.nameAdministrator }}

<div class="container text-center">
    <!-- Content here -->
    <h1 style="font-size: 40px; margin: 0px; text-align: center;">Attività sportive</h1>
    <h2>Dai sfogo alla tua adrenalina, prenota con noi la tua esperienza!</h2>
    <p style="font-size: 16px; line-height: 24px; text-align: left;">
        In questa sessione troverai una selezione di attività adrenaliniche selezionate
        per voi dai nostri Property Managers più coraggiosi da praticare in tutta la Valle d’Aosta.</p>
</div>




{% endblock %}